<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>

<body>
 
  
<%- include("includes/header") %>
<main>
  <h2>Welcome to your dashboard, <% user.username %></h2>
  <p>
    you are welcome to this page 
  </p>
</main>

<%- include("includes/footer") %>
 
</body>
</html>